body{
    font-family: 'Lobster', cursive;
    margin: 0%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.colourchange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
p{
    font-size: 25px;
}
.bwd{
    color: rgb(21, 108, 223);
}
.fit{
    width: 100%;
    padding-left: 5%;
}
.fit img{
    width: 90%;
}
.linkbutton{
    text-decoration: none;
    background-color: yellowgreen;
    padding: 15px 30px;
    border-radius: 15px;
    border-color: red;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.right{
    width: 100%;
    padding-left: 15px;
}

.right img{
    width: 90%;
}
.webdev{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.pro{
    margin-left: 5px;
    
}

