body{
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto Slab', serif;
    padding-right: 50px;
    padding-left: 150px;
    
    font-weight: 600;
}
.top-section .wide-pad p{
    width: 65%;
   
}

}
.firstpart img{
    
    padding-right: 100px;
}
.top-section h1{
    font-size: 60px;
    border-left: 5px solid blue;
    border-radius: 5px;
}
.intro{
    margin-left: 20px;
}


.top-section{
    display: flex;
    width: 100%;
    
    
}
.red{
    color: red;
}
.button{
    font-weight: 900;
    color:white;
    text-decoration: none;
    background-color: rgb(150, 23, 209);
    border-color: red;
    padding: 10px 20px;  
    border-radius: 5px;
}
.middle-section h1{
    padding-top: 40px;
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}
.divider{
    display: flex;
    width: 100%;
}
.mission{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 100%;  
    margin-left: 30px;

}

.mission-pic{
    padding-top: 40px;
    padding-left: 5px;
    height: 100px;
    width: 100px;
}
.mission p{
    font-size: 18px;
    font-weight: 500;
}
#bg-color_1{
    
    border: 1px solid white;
    background-color: rgb(190, 218, 67);
    border-radius: 30px;
    box-shadow:10px 10px skyblue;
}
#bg-color_2{
   
    border: 1px solid white;
    background-color: rgb(243, 154, 236);
    border-radius: 30px;
    box-shadow:10px 10px rgb(224, 69, 48);
}
#bg-color_3{
   
    border: 1px solid white;
    background-color: rgb(46, 212, 82);
    border-radius: 30px;
    box-shadow:10px 10px skyblue;
}

.mission hr{
   height: 1px;
   background-color: black;
}
.bottm_emty{
    padding-bottom: 160px;
}
#first_middle{
    padding-left: 120px;
    padding-top: 50px;
}
#first_middle h1{
    font-size: 30px;
}
#first_middle p{
    font-weight: 600;
}


#second_middle{
    padding-left: 120px;
    padding-top: 50px;
}
#second_middle h1{
    font-size: 30px;
   
 
   
    
    
}
#project{
    padding-left: 100px;
}
#project p{
    font-weight: 600;
}








#cnl{
    
    background-color: rgb(122, 165, 230);
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 60px;
    border-radius: 40px;
    
}
.box{
    padding: 5px;
    padding-left: 20px;
    margin: 5px;
    border: 1px solid rgb(112, 255, 255);
    border-radius: 50px;
    display: inline-block;
    width: 600px;
    height: 30px;

}
#new-button{
    
    height: 15%;
    width: 15%;
    border: 1px solid rgb(104, 238, 238);
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(230, 23, 23);
}


footer{
    padding: 0;
    background-color: black;
    border-radius: 30px;
    margin: 0px;
    padding: 0px;

}
footer h1{
    color:white;
    text-align: center;
    padding-top: 20px;
}
footer p{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
footer p span{
    color:rgb(187, 255, 0);
}